<h1>Welcome to CSE Motor</h1>

<section id="hero">
    <div class="write-up">
        <h2>OMC Dolorean</h2>
        <p>3 cup holder</p>
        <p>Superman doors</p>
        <p>Fuzzy Dice</p>
        <p><button id="sudan-car">Own Today</button></p>
    </div>
    <div class=motor-image>
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    </div>
</section>

<div class="flex-container">
    <section id="reviews">
        <h2>DMC Delorean review</h2>
        <ul>
            <li>"So fast is almost liketravelling in time"(4/5)</li>
            <li>"Coolest ride on the road"(5/5)</li>
            <li>"Am feeling Mcfly"(5/5)</li>
            <li>"The most futuristic ride of our day"(4.5/5)</li>
            <li>"80'sliving and I love it"(5/5)</li>
        </ul>
    </section>
    <section id="features">
        <h2>Delorean upgrades</h2>
        <div class="flex">
            <a href="#" title="flux-capacitor">
                <figure>
                    <div class="card">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </div>
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
            </a>
            <a href="#" title="flame-decol">
                <figure>
                    <div class="card">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <figcaption>Flame Decol</figcaption>
                </figure>
            </a>
            <a href="#" title="bumper-sticker">
                <figure>
                    <div class="card">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    </div>
                    <figcaption>Bumper Sticker</figcaption>
                </figure>
            </a>
            <a href="#" title="hub_cabs">
                <figure>
                    <div class="card">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <figcaption>Hub C</figcaption>
                </figure>
            </a>
        </div>
    </section>
</div>